/*  */



body {
    background-image: linear-gradient(#ffffff, #1f515a);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center top;
    font-family: Chicago, Arial;
    font-size: 16px;
}

a {
    color: #36434F;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

#header {
    /* sets the text color of the header div */
    color: #000;
    /* aligns the text relative to the center */
    text-align: center;
}

#nav {
    /* aligns the text relative to the center */
    text-align: center;
}

#nav button {
    /*Colors the background*/
    background-color: #1f515a;
    /* sets the text color */
    color: #ffffff;
    /* adds padding, to make buttons look more uniform */
    padding: 12px 25px;
    /* aligns the text to be centerd relative to the button */
    text-align: center;
    /* ? */
    text-decoration: none;
    /* makes the buttons be in a line */
    display: inline-block;
    /*sets the font size*/
    font-size: 16px;
    /* changes the Cursor state from normal to pointer */
    cursor: pointer;
    /* makes the text appear wider*/
    font-weight: bold;

}





#container {
    background-color: #68c1cd;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 20px;
}