/* This is the css file */
/* Copyright 2026 */
/* made by v2-shadow */
/* https://github.com/V2-Shadow/ */
body {
    background-image: linear-gradient(#ffffff, #1f515a);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center top;
    font-family: Chicago, Arial;
    font-size: 16px;
}

a {
    color: #36434F;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

#header {
    color: #000;
    text-align: center;
}

#nav {
    text-align: center;
}

#nav button {
    background-color: #1f515a;
    color: #ffffff;
    padding: 12px 25px;
    text-align: center;

    text-decoration: none;

    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;

    border-radius: 23px;

}





#container {
    background-color: #68c1cd;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 20px;
}